
.add_task_button{
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    font-size: 20px;
    width: 15%;
    background: #8d99ae;
    color: rgb(251, 249, 249);
    float: left;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
   }

.add_task_button:hover{
    background:#ffffff;
    color: black;
    border: 0;
}

.remove-btn{
  padding: 2px;
    text-align: center;
    font-size: 18px;
    width: 100px;
    background:transparent;
    color: white;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    font-weight:lighter;

}
.remove-btn:hover{
    background:#eb7d6c;
    color: black;
    border: 0;
}