.container{
    position: relative;
    background: #edf2f4;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.headerOfTodoList{
    background: #2b2d42;
    height: 200px;
    border-radius: 20px;
    
}

#newTaskContainer{
    margin-bottom: 15px;
}

ul {
    margin: 10px;
    padding: 10px;
}

ul li {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    list-style-type: none;
    padding: 10px 8px 10px 30px;
    font-size: 20px;
    cursor: pointer;
    background: #2b2d42;
    margin-top: 15px;
    border-radius: 15px;
    color: white;  
}

ul li:hover {
    background: #a8dadc;
  }

ul li.checked {
    background: #5acdd9;
    color: #fff;
    text-decoration: line-through;
  }


